* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}

body p {
    font-size: 19px
}

:root {
    --black: #212529;
    --darkblue: #0071E3;
    --white: #fff;
    --gray: #F8F8FA;

}

.bosluq>.xerc .manat {
    margin-bottom: 20px !important;
}

.txtBlack {
    color: var(--black);
}

.txtDarkblue {
    color: var(--darkblue);
}

.txtWhite {
    color: var(--white);
}

.bgWhite {
    background-color: var(--white);
}

.bgGray {
    background-color: var(--gray);
}

.bgDarkblue {
    background-color: var(--darkblue);
}

#logo i {
    padding: 20px 0;
    font-size: 40px;
    /* margin: 10px; */
    margin: 0 40px;
    border-bottom: 3px solid #B197FC;
}

img {
    max-width: 70px;
    padding: 10px 0;
}

header {
    /* overflow-x: hidden; */
    width: 100%;
    position: relative;
    z-index: 1000;
}

.custom-color-button {
    border-color: rgb(120, 49, 226) !important;
    background-color: white;
}

.sideBar {
    width: 100%;
    background: white;
    position: fixed;
    /* height: 10vh; */
    right: -100%;
    top: 0;
    margin-top: 80px;
    z-index: 999;
    transition: transform 0.3s ease-in-out;
}


nav {
    transition: 1s all;
    width: 100%;
    background-color: white;
    /* height: 100vh; */
}

ul {
    list-style: none;
    text-align: center;
    font-size: 20px;
    padding: 20px;

    li {
        padding: 10px 0 0;
        line-height: 3em;
        margin: 0 5px;
    }

    a {
        text-decoration: none;
        color: black;
    }

}

/* .dropdown-menu li{
    width: 30px!important;
}
.dropdown-item {
    display: flex;
    width: 30px;
}
.dropdown-item > img{
 width: 30px;
    max-width: 160px!important;
    
    object-fit: cover;
} */

ul li a img {
    max-width: 160px;
    height: 60px;
    object-fit: cover;
}

ul li a .usa {
    max-width: 160px;
    height: 60px;
    object-fit: cover;
}

.right {
    right: 0% !important;
}


#hamIcon {
    position: absolute;
    right: 2%;
    top: 20%;
}

#deksMenu {
    display: none
}

#mobTitle {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    z-index: 1000;
    padding: 10px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#mobTitle i {
    font-size: 30px;
    margin: 10px;
    padding: 8px 0;

}

.mainLeft h2 {
    margin: 10px;
}

.container {
    max-width: 1200px;
    margin: auto;
    /* background-color: #F5F5F5; */
}

.static h6 {
    margin: 10px;
}

.mainStatic {
    /* margin: 10px; */
    padding: 10px;
    background-color: #F8F8FA;
}

.mainLeft {
    margin: 10px;
}

.mainLeft h1 {
    margin-bottom: 50px;
}

.sliderTxt {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* margin: auto; */
}

.sliderTxt span {
    background-color: #6F4CD6;
    width: 40px;
    height: 40px;
    text-align: center;
    color: white;
    border-radius: 5px;
    font-size: 1.5em;
}

.slider {
    -webkit-appearance: none;
    background: #E5E7EB;
    border-radius: 30px;
    width: 95%;
    height: 8px;
    /* margin: auto; */
    margin: 5px 5px 0 5px;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #A271F2;
    cursor: pointer;
}

.btn {
    padding: 15px 0;
    max-width: 170px;
    border-radius: 8px;
    margin: 5px;
    background: #6F4CD6;
    cursor: pointer;


}

.dizayn {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 30px;
}

.dizayn1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 15px;
}

.dizaynDetails {
    width: 66%;
    display: flex;
    flex-direction: column;
}

.levels {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.deyer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    background-color: #A271F2;
    color: white;
}

.deyer p {
    text-align: center;
}

.btn:disabled {
    opacity: .5;
}

.bigCalculator .container {
    max-width: 1200px;
    margin: auto !important;
}


.bigCalculator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
}

.webSite {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    /* align-items: center; */
    margin: 0 30px 0 0;
}

#switchButton {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    /* margin: 0 30px; */
}

.sehife {
    padding-bottom: 30px;
}

.xerc {
    padding: 10px;
    background-color: #DEE7F1;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 40px;
}

.xerc p {
    color: #285A70;
}

.xerc span {
    color: #A271F2;
    font-size: 22px;
}

.rigtSite1 {
    display: flex;
    justify-content: space-between;
}

.left {
    width: 60%;
    margin: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;

}

.form-switch {
    /* width: 50%; */
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding-left: 0;

}

/* .form-check-label{
    padding-left:  40px;
} */
.veb {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.orta {
    /* margin: 10px; */
    width: 100%;
}

.orta div {
    padding-bottom: 15px;
}

.orta input {
    font-size: 30px;
}

.axtarisMotoru {
    display: flex;
    flex-direction: column;
    /* gap: 80px; */
    width: 100%;
    align-items: start;
    /* justify-content: space-between; */
}

/* .rigtMotor{
   justify-content: start;
} */
.leftMotor div {
    padding-bottom: 15px;
    margin-left: 20px;
}

.leftMotor input {
    font-size: 30px;

}

.rightMotor div {
    padding-bottom: 15px;
    margin-left: 20px;
}

.rightMotor input {
    font-size: 30px;
}

.elektronTicaret {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

#conclusion {
    position: sticky;
    width: 100%;
    margin: 10px;
    top: 0;
    height: fit-content;

}

.teklif {
    padding: 20px;
}

.wholePage {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.wholePage h2 {
    text-align: left;
}

.leftSide {
    width: 100%;
    margin-right: 30px;
    padding: 40px 30px;
}

.rightDetails {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* margin:0 10px ; */
}

.rightDetails li {
    text-align: left;
    line-height: 1.5rem;
}

.rightDetails ul {
    text-align: left;
    padding: 20px 0;
}

.right1 {
    /* margin-right: 30px; */
    padding: 60px 30px;
}

.right2 {
    /* margin-right: 30px; */
    padding: 60px 30px;
}

.lastOne {
    border-top: 1px solid !important;
}

.contacts {
    display: flex;
    flex-direction: column-reverse;
    margin: 100%;
    margin: auto;
    justify-content: space-between;
}

.contacts2 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: end;
    /* width: 100%; */
}

.contactType1 {
    display: flex;
    flex-direction: row;
    padding-right: 5px;
}
.contactType1 img{
    padding-right: 5px;
    padding-top: 3px;
}
.contactType2 img{
    padding-right: 5px;
    padding-top: 3px;
}

.contactType1 p {
    padding-right: 5px;
    border-right: 1px solid;
}

.contactType2 {
    display: flex;
    flex-direction: row;
    /* width: 100%; */
}

.mediaIcons i {
    font-size: 48px;
    color: #7D3BE2;
    padding-right: 10px;
}

.qeyd {
    border-bottom: 1px solid !important;
}

.qeyd p {
    color: #8B8B9A;
}

.qeyd .xerc {
    background-color: white;
}

.qeyd .xerc .manat p {
    color: #A271F2;
}

.qeydTxt {
    padding: 10px;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.sifaris {
    width: 100%;
    padding: 20px;
    background-color: #2BC48A;
    color: white;
    margin-top: 20px;
}

.sifaris p {
    text-align: center;
    font-weight: bolder;
}

@media screen and (min-width: 768px) {
    nav #deksMenu {
        display: flex;
        justify-content: space-around;
        width: 100%;
        align-items: center;
    }

    .sideBar {
        display: none
    }

    .bigCalculator {
        display: flex;
        flex-direction: row !important;

        justify-content: center;
        align-items: start;

    }

    .veb {
        display: flex;
        flex-direction: row;
        gap: 10px;
        width: 100%;
        align-items: center;
        justify-content: space-between;
    }

    .orta {
        /* margin: 10px; */
        width: 50%;
    }

    .axtarisMotoru {
        display: flex;
        flex-direction: row;
        gap: 80px;
        width: 100%;
        align-items: start;
        /* justify-content: space-between; */
    }

    .elektronTicaret {
        display: flex;
        flex-direction: row;
        gap: 10px;
        width: 100%;
        align-items: center;
        justify-content: space-between;
    }

    #conclusion {
        position: sticky;
        width: 40%;
        margin: 10px;
        top: 0;
        height: fit-content;

    }

    .wholePage {
        max-width: 1200px;
        margin: auto;
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    .rightDetails {
        display: flex;
        flex-direction: row;
        width: 100%;
        /* margin:0 10px ; */
    }

    .leftSide {
        width: 50%;
        margin-right: 30px;
        padding: 40px 30px;
    }

    .contacts {
        display: flex;
        /* flex-direction: row; */
        max-width: 1200px;
        margin: auto;
        justify-content: space-between;
    }

    .contacts2 {
        display: flex;
        flex-direction: row;

        justify-content: end;
        /* width: 100%; */
    }

    .footerSon {
        display: flex;
        justify-content: space-between;
    }
}